# Introduction:

IPython is a command shell for interactive computing in multiple programming languages, originally developed for the Python programming language, that offers introspection, rich media, shell syntax, tab completion, and history. IPython provides the following features:


1. Interactive shells (terminal and Qt-based(Crossplatform)).
2. A browser-based notebook with support for code, text, mathematical expressions, inline plots and other media.
3. Support for interactive data visualization and use of GUI toolkits.
4. Flexible, embeddable interpreters to load into one's own projects.
5. Tools for parallel computing.


How to Start?
1. Create an IPython notebook, choose File -> New -> IPython notebook. 
2. Create a new cell(to write text or code), Hit Alt+Enter to create a new cell. 
3. To run, Hit Shift+Enter 
4. Convert cell to text, ESC + m OR select mark down from top
5. Delete cell, ESC + D

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# No need to define a data type. Auto interprested
workingdirectory=('C:\\Users\Vinit\Desktop\Harish\Classes\7 April Batch\A4 Day 3 - 14 April python\\')

In [ ]:
print(workingdirectory);

C:\Users\Vinit\Desktop\Harish\Classes April Batch\A4 Day 3 - 14 April python\

In [ ]:
print ("Multiply Operation is as below")
23*543

Multiply Operation is as below

12489

To see history of commands, %history
Used to extract code from IPython notebook to a separate file.

In [ ]:
%history

print("Hello World!")
# No need to define a data type. Auto interprested
workingdirectory=('C:\\Users\Vinit\Desktop\Harish\Classes\7 April Batch\A4 Day 3 - 14 April python\\')
print(workingdirectory);
print ("Multiply Operation is as below")
23*543
%history

To get more details on command/ function, use ? at the end

In [ ]:
print?

NumPy (pronounced /ˈnʌmpaɪ/ (NUM-py) or sometimes /ˈnʌmpi/ (NUM-pee)) is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

In [ ]:
import numpy as np
np.mean?

To see all functions and commands that are associated with a package (such as NumPy), use TAB button.

In [ ]:
np.add(2 , 5)

7

**Syntax in python**

1. Case Sensitive language
2. whitespace (space bar/blank) used for intendation 
3. ; at end of statement not required 
4. IF , ELSE, use whitespace

There should not be unnecessary spaces.
'#' Denotes comments
'''  commented lines  ''' is used for multi line comments

In [ ]:
age = 7
print ('Age is ', age)   #Remove space and try again

Age is  7

In [ ]:
# single line comment
# print("This line will not be printed, This line is in a single line comment")
''' block comment 3 single quotes
print("Block comment line")
print ("Block comment line")
'''
print("Out of comment")

Out of comment

**Variables and Data Structures**

Built in data types: int, float, string, boolean value, date, time

data structurs: Tuple (immutable - can not change value) , List (mutable - change the value), Dictionary (Key Value pair. 1 key, can be multiple values)

In [ ]:
# Auto assigns type

name    = "Amitabh"       # A string
age     = 26              # An integer assignment
weight  = 70.4            # A floating point

print (name)
print (age)
print (weight)

Amitabh
26
70.4

In [ ]:
# Difference between numeric addition and string concatination

a = 12                   # Since no decimal point, it will auto assume as integer
b = 7.5                  # since decimal point, it will auto assume as float
c = "5"                 # String, since inverted commas
d = "2"                 # String, since inverted commas
print(b + a)  # Sum of values = 7.5 + 12 = 19.5
print(c  + d) # Concatenating Strings = "5" + "2" = "52"

19.5
52

**String**

In [ ]:
strr = 'Hello World'       # 0-H 1-e 2-l 3-l 4-o 5-' ' 6-W 7-o 8-r 9-l 10-d
print (strr)            # prints complete string
print (strr[0])         # prints first character of string   ... It will print H  
print (strr[3:6])       # prints characters starting from 4th to 6th. Exclude last element. 'W' is excluded.   ...3--l 4-o 5-' ' 
print (strr[6:])        # prints string starting from 7th character.... 6-W 7-o 8-r 9-l 10-d
print (strr*2)          # prints string two times... Hello WorldHello World
print (strr + "!!!")    # prints concatenated string... Hello World!!!

Hello World
H
lo
World
Hello WorldHello World
Hello World!!!

In [ ]:
strr ="hello"
print(strr[-1]) # Print last character

o

In [ ]:
a = 'Hello World'
b = a.replace('World','India')    # a = Hello World --> b = Hello India
print (a) 
print (b)

Hello World
Hello India

In [ ]:
a = '10'              # String because 10 is in inverted commas
anum = int(a)         # Typecaste/Convert String '10' to Integer - Possible... anum = 10 (integer)
print (anum + anum)  # 10 + 10 = 20

20

In [ ]:
achar = str(anum)     # Typecaste/Convert int '10' to string - Possible.   10 will become string '10'
print (achar + achar) # Since achar is a string, + will do concatenation . '10'+'10' = '1010'

1010

In [ ]:
a = "hi"               # String
anum = int(a)         # Typecaste/Convert String 'hi' to Integer - Not Possible
print (anum)

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
a = "hi there"
print (a)
print (len(a))

hi there
8

In [ ]:
# a is 'hi there' . i.e. it is a string
# len(a) = 8, which is numeric

a + len(a) # Concatenating String & Integer - Error

TypeError: must be str, not int

In [ ]:
a + str(len(a)) # Convert to String so that concatenation works

'hi there8'

In [ ]:
# Lets us see how to create formatted outputs
string = "This is python"
strlist = list(string)
print(strlist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [ ]:
string = "This is python"
print (string.count('s'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

2
['This', 'is', 'python']
THIS IS PYTHON
this is python
tHIS IS PYTHON

In [ ]:
str1 = "    Today is a bright sunny day in New York      "
print (str1.rstrip())                   # Remove spaces from right 
print (str1.lstrip())                   # Remove spaces from left 
print (str1.strip())                    # Remove spaces from both sides  

print (",".join(str1))                  # Sequence of elements to be joined

    Today is a bright sunny day in New York
Today is a bright sunny day in New York
Today is a bright sunny day in New York
 , , , ,T,o,d,a,y, ,i,s, ,a, ,b,r,i,g,h,t, ,s,u,n,n,y, ,d,a,y, ,i,n, ,N,e,w, ,Y,o,r,k, , , , , ,

In [ ]:
print (" ".join(["Hello","World"]))   # How to do string concatenation. 
print (",".join(["Hello","World"]))   # How to do string concatenation.

Hello World
Hello,World

In [ ]:
school = 'Delhi Public School'
print('D' in school)
print('U' in school)

True
False

In [ ]:
# Let see how to get the type of the variables
x='Value of x is :   0.9032'
pos = x.find(':')
print(pos)


num=float(x[pos+1:])
print (num, type(num))

14
0.9032 <class 'float'>

In [ ]:
# For the string, get first 6 characters, and last 15 characters.
# Now join them to form a new string with an underscore in between

strr = 'Hello, welcome to the world of Python'
a = strr[0:6]             # First 6 chars
b = strr[-15:]             # Last 15 Chars     

print(a)
print(b)

c = a + '_' + b
print(c)

Hello,
world of Python
Hello,_world of Python

In [ ]:
d = '_'.join([a,b])
print(d)

Hello,_world of Python

In [ ]:
x = 'Hello'        # Hello -> Worlo
y = 'World'        # World -> Helld
#Swap first three characters of each string and join them by an |

first = y[0:3] + x[3:]     # Worlo
second = x[0:3] + y[3:]    #Helld

print(first)
print(second)

final = first + '|' + second     #Worlo|Helld

print(final)

Worlo
Helld
Worlo|Helld

**List, Dictionary and Tuple**

List (Similar to arrays)
1. specify/Enclose in sqare brackets - **[ ]**
2. **Mutable.** (Delete value, add new value in middle/start)
3. All elements are separated by commas

**List Examples**

In [ ]:
list1 = [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
list2 = [123, 'XYZ']

print (list1)            # Print First list - o/p will print [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
print (list2)            # Print Second list - o/p will print [123, 'XYZ']

print (list1[0])         # Print first element of the list1   - o/p will be 0th index of list1 . i.e. 'abc'
print (list1[1:3])       # Print elements starting from 2nd till 3rd  - o/p will be 123 , 5.67,
print (list1[1:])        # Print elements starting from 2nd element  - o/p will be 123 , 5.67, 'XYZ', 11.2, 'qaz'

print (list2 * 2)        # Print Second list 2 times. Asterisk ( * ) is repetition operator. - o/p will be 123, 'XYZ', 123, 'XYZ'
print (list1 + list2)    # Print concatenated lists. Plus ( + ) is the concatenation operator
                             # o/p will be 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' , 123, 'XYZ'
print (len(list2))       # Print length of list2       # o/p will be 2

['abc', 123, 5.67, 'XYZ', 11.2, 'qaz']
[123, 'XYZ']
abc
[123, 5.67]
[123, 5.67, 'XYZ', 11.2, 'qaz']
[123, 'XYZ', 123, 'XYZ']
['abc', 123, 5.67, 'XYZ', 11.2, 'qaz', 123, 'XYZ']
2

In [ ]:
lista = [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
listb = lista          # Listb will be come [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
lista = lista*2        # lista will be come [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz', 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]

print (lista)          
print (listb)

['abc', 123, 5.67, 'XYZ', 11.2, 'qaz', 'abc', 123, 5.67, 'XYZ', 11.2, 'qaz']
['abc', 123, 5.67, 'XYZ', 11.2, 'qaz']

In [ ]:
list1 = ['Mumbai', 'Delhi', 'Chennai']
print (list1)

list1.append('Hyderabad')      
print (list1)

list1.insert(0, 'Banglore')
print (list1)

list1.extend(['City1', 'City2']) 
print (list1)                         # Append can add only 1 element at end where as extend can add multiple elements

list2 = ['City3', 'City4', 'City5']
list1.extend(list2)
print (list1)  

print (list1.index('City1')) 

list1.remove('City4')                # Remove by Name
print (list1)  

list1.pop(1)                         # Remove by Index
print (list1)

['Mumbai', 'Delhi', 'Chennai']
['Mumbai', 'Delhi', 'Chennai', 'Hyderabad']
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad']
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2']
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2', 'City3', 'City4', 'City5']
5
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2', 'City3', 'City5']
['Banglore', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2', 'City3', 'City5']

In [ ]:
#Sorting
numberlist = [9, 3, 15, 7, 13, 1, 5, 11, 17]
numberlist.sort()
print(numberlist)

print (len(numberlist))
print (max(numberlist))
print (min(numberlist))

[1, 3, 5, 7, 9, 11, 13, 15, 17]
9
17
1

In [ ]:
numberlist.sort?

In [ ]:
numberlist.sort(key=None, reverse=True)
print(numberlist)

[17, 15, 13, 11, 9, 7, 5, 3, 1]

In [ ]:
charlist = ['abcded', 'g', 'hijk', 'lm', 'nopqrst']
print (sorted(charlist, key=len))      # Sorted will not change the list.
print(charlist)                        # Value of list remains the same.

['g', 'lm', 'hijk', 'abcded', 'nopqrst']
['abcded', 'g', 'hijk', 'lm', 'nopqrst']

**Dictionary**
Dictionary
1. specify/Enclose in curly brackets - **{ }**
2. **Key Value Pair** - (Key will be always 1, value can be multiple)

In [ ]:
#Dictionary is an abstract data type composed of collection of (key, value) pairs, key will be only 1 time, value can be multiple
# Example 1: Single Key , Single Value
dict1 = {}
dict1['one'] = "This is 1st String"
dict1[2]     = "This is 2nd String"

print (dict1['one'])       # Prints value for 'one' key
print (dict1[2])           # Prints value for 2 key

This is 1st String
This is 2nd String

In [ ]:
# Example 2: Single Key , Multiple Values
dict2 = {'state': 'Maharashtra', 'city': ['Mumbai', 'Pune'],'code':23, 'dept': 'GST'}
print (dict2)          # Prints complete dictionary
print (dict2.keys())   # Prints all the keys
print (dict2.values()) # Prints all the values

{'state': 'Maharashtra', 'city': ['Mumbai', 'Pune'], 'code': 23, 'dept': 'GST'}
dict_keys(['state', 'city', 'code', 'dept'])
dict_values(['Maharashtra', ['Mumbai', 'Pune'], 23, 'GST'])

** Tuple **
Tuple (Similar to list)

Tuple (Similar to list)
1. specify/Enclose in sqare brackets - **( )**
2. **ImMutable.** (Can not Delete value, Can not add new value in middle/start. **However can add new value at the end**)

In [ ]:
a = (1,2,3,4)
print(a)


# a[0]=10               # can not change the value or add in middle, as Tuple is immutable. Comment this line
print(a.index(2)) 
 
a = a + (10,)           # Can append at the end      
print(a)

(1, 2, 3, 4)
1
(1, 2, 3, 4, 10)

In [ ]:
print(id(a))                 # ID is unique number for all objects in program
print(hex(id(a)))

2004921352128
0x1d2ce9fffc0

In [ ]:
# empty tuple
tuple1 = ()
print(tuple1)

()

In [ ]:
# Integer tuple
tuple1 = (1, 2, 3)
print(tuple1)

(1, 2, 3)

In [ ]:
# Mixed tuple
tuple1 = (1, "Hello", 2.3)
print(tuple1)

(1, 'Hello', 2.3)

In [ ]:
#Nested Tuple
tuple1 = ("mouse", [1, 2, 3], (1, "b", 3))
print(tuple1)

('mouse', [1, 2, 3], (1, 'b', 3))

In [ ]:
#Without () parantheses
tuple1 = 3, 2.3, "dog"
print(tuple1)

(3, 2.3, 'dog')

In [ ]:
# Unpacking Tuple
a, b, c = tuple1
print(a)
print(b)
print(c)

3
2.3
dog