<a href="https://colab.research.google.com/github/GouriNayak/DMDW/blob/main/Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/GouriNayak/DMDW/main/iris.csv')

In [ ]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
dataset.iloc[:,1:5]

     sepal_width  petal_length  petal_width    species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [ ]:
dataset.iloc[:,1:4].values

array([[3.5, 1.4, 0.2],
       [3. , 1.4, 0.2],
       [3.2, 1.3, 0.2],
       [3.1, 1.5, 0.2],
       [3.6, 1.4, 0.2],
       [3.9, 1.7, 0.4],
       [3.4, 1.4, 0.3],
       [3.4, 1.5, 0.2],
       [2.9, 1.4, 0.2],
       [3.1, 1.5, 0.1],
       [3.7, 1.5, 0.2],
       [3.4, 1.6, 0.2],
       [3. , 1.4, 0.1],
       [3. , 1.1, 0.1],
       [4. , 1.2, 0.2],
       [4.4, 1.5, 0.4],
       [3.9, 1.3, 0.4],
       [3.5, 1.4, 0.3],
       [3.8, 1.7, 0.3],
       [3.8, 1.5, 0.3],
       [3.4, 1.7, 0.2],
       [3.7, 1.5, 0.4],
       [3.6, 1. , 0.2],
       [3.3, 1.7, 0.5],
       [3.4, 1.9, 0.2],
       [3. , 1.6, 0.2],
       [3.4, 1.6, 0.4],
       [3.5, 1.5, 0.2],
       [3.4, 1.4, 0.2],
       [3.2, 1.6, 0.2],
       [3.1, 1.6, 0.2],
       [3.4, 1.5, 0.4],
       [4.1, 1.5, 0.1],
       [4.2, 1.4, 0.2],
       [3.1, 1.5, 0.2],
       [3.2, 1.2, 0.2],
       [3.5, 1.3, 0.2],
       [3.6, 1.4, 0.1],
       [3. , 1.3, 0.2],
       [3.4, 1.5, 0.2],
       [3.5, 1.3, 0.3],
       [2.3, 1.3, 0.3],
       [3.2, 1.3, 0.2],
       [3.5, 1.6, 0.6],
       [3.8, 1.9, 0.4],
       [3. , 1.4, 0.3],
       [3.8, 1.6, 0.2],
       [3.2, 1.4, 0.2],
       [3.7, 1.5, 0.2],
       [3.3, 1.4, 0.2],
       [3.2, 4.7, 1.4],
       [3.2, 4.5, 1.5],
       [3.1, 4.9, 1.5],
       [2.3, 4. , 1.3],
       [2.8, 4.6, 1.5],
       [2.8, 4.5, 1.3],
       [3.3, 4.7, 1.6],
       [2.4, 3.3, 1. ],
       [2.9, 4.6, 1.3],
       [2.7, 3.9, 1.4],
       [2. , 3.5, 1. ],
       [3. , 4.2, 1.5],
       [2.2, 4. , 1. ],
       [2.9, 4.7, 1.4],
       [2.9, 3.6, 1.3],
       [3.1, 4.4, 1.4],
       [3. , 4.5, 1.5],
       [2.7, 4.1, 1. ],
       [2.2, 4.5, 1.5],
       [2.5, 3.9, 1.1],
       [3.2, 4.8, 1.8],
       [2.8, 4. , 1.3],
       [2.5, 4.9, 1.5],
       [2.8, 4.7, 1.2],
       [2.9, 4.3, 1.3],
       [3. , 4.4, 1.4],
       [2.8, 4.8, 1.4],
       [3. , 5. , 1.7],
       [2.9, 4.5, 1.5],
       [2.6, 3.5, 1. ],
       [2.4, 3.8, 1.1],
       [2.4, 3.7, 1. ],
       [2.7, 3.9, 1.2],
       [2.7, 5.1, 1.6],
       [3. , 4.5, 1.5],
       [3.4, 4.5, 1.6],
       [3.1, 4.7, 1.5],
       [2.3, 4.4, 1.3],
       [3. , 4.1, 1.3],
       [2.5, 4. , 1.3],
       [2.6, 4.4, 1.2],
       [3. , 4.6, 1.4],
       [2.6, 4. , 1.2],
       [2.3, 3.3, 1. ],
       [2.7, 4.2, 1.3],
       [3. , 4.2, 1.2],
       [2.9, 4.2, 1.3],
       [2.9, 4.3, 1.3],
       [2.5, 3. , 1.1],
       [2.8, 4.1, 1.3],
       [3.3, 6. , 2.5],
       [2.7, 5.1, 1.9],
       [3. , 5.9, 2.1],
       [2.9, 5.6, 1.8],
       [3. , 5.8, 2.2],
       [3. , 6.6, 2.1],
       [2.5, 4.5, 1.7],
       [2.9, 6.3, 1.8],
       [2.5, 5.8, 1.8],
       [3.6, 6.1, 2.5],
       [3.2, 5.1, 2. ],
       [2.7, 5.3, 1.9],
       [3. , 5.5, 2.1],
       [2.5, 5. , 2. ],
       [2.8, 5.1, 2.4],
       [3.2, 5.3, 2.3],
       [3. , 5.5, 1.8],
       [3.8, 6.7, 2.2],
       [2.6, 6.9, 2.3],
       [2.2, 5. , 1.5],
       [3.2, 5.7, 2.3],
       [2.8, 4.9, 2. ],
       [2.8, 6.7, 2. ],
       [2.7, 4.9, 1.8],
       [3.3, 5.7, 2.1],
       [3.2, 6. , 1.8],
       [2.8, 4.8, 1.8],
       [3. , 4.9, 1.8],
       [2.8, 5.6, 2.1],
       [3. , 5.8, 1.6],
       [2.8, 6.1, 1.9],
       [3.8, 6.4, 2. ],
       [2.8, 5.6, 2.2],
       [2.8, 5.1, 1.5],
       [2.6, 5.6, 1.4],
       [3. , 6.1, 2.3],
       [3.4, 5.6, 2.4],
       [3.1, 5.5, 1.8],
       [3. , 4.8, 1.8],
       [3.1, 5.4, 2.1],
       [3.1, 5.6, 2.4],
       [3.1, 5.1, 2.3],
       [2.7, 5.1, 1.9],
       [3.2, 5.9, 2.3],
       [3.3, 5.7, 2.5],
       [3. , 5.2, 2.3],
       [2.5, 5. , 1.9],
       [3. , 5.2, 2. ],
       [3.4, 5.4, 2.3],
       [3. , 5.1, 1.8]])

In [ ]:
x=dataset.iloc[:,1:4].values

Now we create **Y** values

In [ ]:
y=dataset.iloc[:,-1].values

In [ ]:
y

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder_y = LabelEncoder()
y = LabelEncoder_y.fit_transform(y)

In [ ]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
x

array([[3.5, 1.4, 0.2],
       [3. , 1.4, 0.2],
       [3.2, 1.3, 0.2],
       [3.1, 1.5, 0.2],
       [3.6, 1.4, 0.2],
       [3.9, 1.7, 0.4],
       [3.4, 1.4, 0.3],
       [3.4, 1.5, 0.2],
       [2.9, 1.4, 0.2],
       [3.1, 1.5, 0.1],
       [3.7, 1.5, 0.2],
       [3.4, 1.6, 0.2],
       [3. , 1.4, 0.1],
       [3. , 1.1, 0.1],
       [4. , 1.2, 0.2],
       [4.4, 1.5, 0.4],
       [3.9, 1.3, 0.4],
       [3.5, 1.4, 0.3],
       [3.8, 1.7, 0.3],
       [3.8, 1.5, 0.3],
       [3.4, 1.7, 0.2],
       [3.7, 1.5, 0.4],
       [3.6, 1. , 0.2],
       [3.3, 1.7, 0.5],
       [3.4, 1.9, 0.2],
       [3. , 1.6, 0.2],
       [3.4, 1.6, 0.4],
       [3.5, 1.5, 0.2],
       [3.4, 1.4, 0.2],
       [3.2, 1.6, 0.2],
       [3.1, 1.6, 0.2],
       [3.4, 1.5, 0.4],
       [4.1, 1.5, 0.1],
       [4.2, 1.4, 0.2],
       [3.1, 1.5, 0.2],
       [3.2, 1.2, 0.2],
       [3.5, 1.3, 0.2],
       [3.6, 1.4, 0.1],
       [3. , 1.3, 0.2],
       [3.4, 1.5, 0.2],
       [3.5, 1.3, 0.3],
       [2.3, 1.3, 0.3],
       [3.2, 1.3, 0.2],
       [3.5, 1.6, 0.6],
       [3.8, 1.9, 0.4],
       [3. , 1.4, 0.3],
       [3.8, 1.6, 0.2],
       [3.2, 1.4, 0.2],
       [3.7, 1.5, 0.2],
       [3.3, 1.4, 0.2],
       [3.2, 4.7, 1.4],
       [3.2, 4.5, 1.5],
       [3.1, 4.9, 1.5],
       [2.3, 4. , 1.3],
       [2.8, 4.6, 1.5],
       [2.8, 4.5, 1.3],
       [3.3, 4.7, 1.6],
       [2.4, 3.3, 1. ],
       [2.9, 4.6, 1.3],
       [2.7, 3.9, 1.4],
       [2. , 3.5, 1. ],
       [3. , 4.2, 1.5],
       [2.2, 4. , 1. ],
       [2.9, 4.7, 1.4],
       [2.9, 3.6, 1.3],
       [3.1, 4.4, 1.4],
       [3. , 4.5, 1.5],
       [2.7, 4.1, 1. ],
       [2.2, 4.5, 1.5],
       [2.5, 3.9, 1.1],
       [3.2, 4.8, 1.8],
       [2.8, 4. , 1.3],
       [2.5, 4.9, 1.5],
       [2.8, 4.7, 1.2],
       [2.9, 4.3, 1.3],
       [3. , 4.4, 1.4],
       [2.8, 4.8, 1.4],
       [3. , 5. , 1.7],
       [2.9, 4.5, 1.5],
       [2.6, 3.5, 1. ],
       [2.4, 3.8, 1.1],
       [2.4, 3.7, 1. ],
       [2.7, 3.9, 1.2],
       [2.7, 5.1, 1.6],
       [3. , 4.5, 1.5],
       [3.4, 4.5, 1.6],
       [3.1, 4.7, 1.5],
       [2.3, 4.4, 1.3],
       [3. , 4.1, 1.3],
       [2.5, 4. , 1.3],
       [2.6, 4.4, 1.2],
       [3. , 4.6, 1.4],
       [2.6, 4. , 1.2],
       [2.3, 3.3, 1. ],
       [2.7, 4.2, 1.3],
       [3. , 4.2, 1.2],
       [2.9, 4.2, 1.3],
       [2.9, 4.3, 1.3],
       [2.5, 3. , 1.1],
       [2.8, 4.1, 1.3],
       [3.3, 6. , 2.5],
       [2.7, 5.1, 1.9],
       [3. , 5.9, 2.1],
       [2.9, 5.6, 1.8],
       [3. , 5.8, 2.2],
       [3. , 6.6, 2.1],
       [2.5, 4.5, 1.7],
       [2.9, 6.3, 1.8],
       [2.5, 5.8, 1.8],
       [3.6, 6.1, 2.5],
       [3.2, 5.1, 2. ],
       [2.7, 5.3, 1.9],
       [3. , 5.5, 2.1],
       [2.5, 5. , 2. ],
       [2.8, 5.1, 2.4],
       [3.2, 5.3, 2.3],
       [3. , 5.5, 1.8],
       [3.8, 6.7, 2.2],
       [2.6, 6.9, 2.3],
       [2.2, 5. , 1.5],
       [3.2, 5.7, 2.3],
       [2.8, 4.9, 2. ],
       [2.8, 6.7, 2. ],
       [2.7, 4.9, 1.8],
       [3.3, 5.7, 2.1],
       [3.2, 6. , 1.8],
       [2.8, 4.8, 1.8],
       [3. , 4.9, 1.8],
       [2.8, 5.6, 2.1],
       [3. , 5.8, 1.6],
       [2.8, 6.1, 1.9],
       [3.8, 6.4, 2. ],
       [2.8, 5.6, 2.2],
       [2.8, 5.1, 1.5],
       [2.6, 5.6, 1.4],
       [3. , 6.1, 2.3],
       [3.4, 5.6, 2.4],
       [3.1, 5.5, 1.8],
       [3. , 4.8, 1.8],
       [3.1, 5.4, 2.1],
       [3.1, 5.6, 2.4],
       [3.1, 5.1, 2.3],
       [2.7, 5.1, 1.9],
       [3.2, 5.9, 2.3],
       [3.3, 5.7, 2.5],
       [3. , 5.2, 2.3],
       [2.5, 5. , 1.9],
       [3. , 5.2, 2. ],
       [3.4, 5.4, 2.3],
       [3. , 5.1, 1.8]])

Now split the data on Train & Test

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

Now we use one by one Algorithms.

1st we run **"Logistic Regression"**

What is meant by logistic regression?

Logistic regression measures the relationship between the categorical dependent variable and one or more independent variables by estimating probabilities using a logistic function, which is the cumulative distribution function of logistic distribution.

What is logistic regression good for?

Logistic regression is the appropriate regression analysis to conduct when the dependent variable is dichotomous (binary).Logistic regression is used to describe data and to explain the relationship between one dependent binary variable and one or more nominal, ordinal, interval or ratio-level independent variables.

What is logistic regression with example?

Logistic Regression is one of the most commonly used Machine Learning algorithms that is used to model a binary variable that takes only 2 values – 0 and 1. The objective of Logistic Regression is to develop a mathematical equation that can give us a score in the range of 0 to 1.

In [ ]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Now we find the **Prediction**

In [ ]:
y_pred = logmodel.predict(x_test)

In [ ]:
y_pred

array([1, 0, 2, 0, 2, 1, 1, 0, 1, 2, 0, 2, 0, 1, 0, 2, 1, 1, 1, 2, 2, 0,
       2, 0, 2, 0, 0, 0, 2, 2])

In [ ]:
y_test

array([1, 0, 2, 0, 1, 2, 1, 0, 1, 2, 0, 2, 0, 1, 0, 1, 1, 1, 1, 2, 2, 0,
       2, 0, 2, 0, 0, 0, 2, 2])

Now how to check this result is true or false. 

By using **Confusion Matrix** we known the exact TRUE & FLASE values

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[11,  0,  0],
       [ 0,  7,  2],
       [ 0,  1,  9]])

Now check the **model** **accuracy**

In [ ]:
27/30

0.9

Now we run 2nd one **"KNN"** algorithm

What is the use of KNN algorithm?

KNN is a non-parametric, lazy learning algorithm. Its purpose is to use a database in which the data points are separated into several classes to predict the classification of a new sample point.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier_knn = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p=2)
classifier_knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

Now we find the **Prediction**

In [ ]:
y_pred = classifier_knn.predict(x_test)

Now how to check this result is true or false. 

By using **Confusion Matrix** we known the exact TRUE & FLASE values

In [ ]:
confusion_matrix(y_test,y_pred)

array([[11,  0,  0],
       [ 0,  8,  1],
       [ 0,  1,  9]])

Now check the **model** **accuracy**

In [1]:
28/30

0.9333333333333333

Now we run 3rd one **"Naive_Bayes"** algorithm.
Naive Bayes is a machine learning model that is used for large volumes of data, even if you are working with data that has millions of data records the recommended approach is Naive Bayes. It gives very good results when it comes to NLP tasks such as sentimental analysis.

Why naive Bayes is naive?

Naive Bayes is called naive because it assumes that each input variable is independent. This is a strong assumption and unrealistic for real data; however, the technique is very effective on a large range of complex problems.

What are the advantages of naive Bayes?

Naive Bayes is suitable for solving multi-class prediction problems. If its assumption of the independence of features holds true, it can perform better than other models and requires much less training data. Naive Bayes is better suited for categorical input variables than numerical variables.

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier_nb = GaussianNB()
classifier_nb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

Now we find the **Prediction**

In [ ]:
y_pred = classifier_nb.predict(x_test)

Now how to check this result is true or false. 

By using **Confusion Matrix** we known the exact TRUE & FLASE values

In [ ]:
confusion_matrix(y_test,y_pred)

array([[11,  0,  0],
       [ 0,  7,  2],
       [ 0,  1,  9]])

Now check the **model** **accuracy**

Now we run 4th one **"Dession Tree"** algorithm.

What is decision tree algorithm in machine learning?

Introduction Decision Trees are a type of Supervised Machine Learning (that is you explain what the input is and what the corresponding output is in the training data) where the data is continuously split according to a certain parameter. The tree can be explained by two entities, namely decision nodes and leaves.

Which algorithm is used in decision tree?

In order to build a tree, we use the CART algorithm, which stands for Classification and Regression Tree algorithm. A decision tree simply asks a question, and based on the answer (Yes/No), it further split the tree into subtrees.

What are the types of decision tree?

There are two main types of decision trees that are based on the target variable, i.e., categorical variable decision trees and continuous variable decision trees.
Categorical variable decision tree. 
Continuous variable decision tree.

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier_dt = DecisionTreeClassifier(criterion = 'entropy')
classifier_dt.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Now we find the **Prediction**

In [ ]:
y_pred = classifier_dt.predict(x_test)

Now how to check this result is true or false. 

By using **Confusion Matrix** we known the exact TRUE & FLASE values

In [ ]:
confusion_matrix(y_test,y_pred)

array([[11,  0,  0],
       [ 0,  8,  1],
       [ 0,  4,  6]])

Now check the **model** **accuracy**